h3 ul a{
display: inline;
text-decoration: none;color: blanchedalmond;
}
.farouk{background-color: chocolate;
margin-right: 950px;}

body{font-family: "roboto";}
.titre {color: blanchedalmond;background:black ;}
.ahmed{color:red;}